* {
  box-sizing: border-box; }

body {
  margin: 50px;
  overflow-x: hidden;
  overflow-y: hidden; }

div {
  padding: 0;
  margin: 0; }

.field {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  background-color: #ccc; }

.excel {
  width: 40px;
  height: 40px;
  padding: 5px; }

.snakeBody {
  width: 40px;
  height: 40px;
  padding: 5px;
  background: url('../img/body.png');
  background-size: cover;
  border-radius: 50%; }

.head {
  width: 40px;
  height: 40px;
  padding: 5px;
  background: url('../img/head.png');
  background-size: cover;
  border-radius: 10%; }

.fruit {
  width: 40px;
  height: 40px;
  padding: 5px;
  background: url('../img/fruit.png');
  background-size: cover;
  border-radius: 10%; }

  .head-death {
    background: url('../img/head-death.png') center no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    padding: 5px
  }
