* {
  box-sizing: border-box; }

body {
  display: block;
  margin: 20px;
  background-color: none;
  overflow-x: hidden;
}

.field {
  position: absolute;
  top: 30px;
  left: 300px;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  background-color: #ccc; }

.excel {
  width: 40px;
  height: 40px;
  padding: 5px; }

.snakeBody {
  width: 40px;
  height: 40px;
  padding: 5px;
  background: url('../img/body.png');
  background-size: cover;
  border-radius: 50%; }

.head {
  width: 40px;
  height: 40px;
  padding: 5px;
  background: url('../img/head.png');
  background-size: cover;
  border-radius: 10%; }

.fruit {
  width: 40px;
  height: 40px;
  padding: 5px;
  background: url('../img/fruit.png');
  background-size: cover;
  border-radius: 10%; }

.head-death {
  background: url('../img/head-death.png') center no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  padding: 5px
}

.btnL {
  visibility: hidden;
  position: absolute;
  top: 250px;
  left: 0;
  background-color: rgba(245, 202, 202, 0);
  color: rgb(156, 177, 173);
  font-size: 22px;
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
}

.btnR {
  visibility: hidden;
  position: absolute;
  top: 250px;
  right: 0;
  background-color: rgba(245, 202, 202, 0);
  color: rgb(156, 177, 173);
  font-size: 22px;
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
}

.btnU {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 300px;
  background-color: rgba(245, 202, 202, 0);
  color: rgb(156, 177, 173);
  font-size: 22px;
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
}
.btnD {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 300px;
  background-color: rgba(245, 202, 202, 0);
  color: rgb(156, 177, 173);
  font-size: 22px;
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
}

.instruction {
  font-size: 16px;
  color: blue;
  position: absolute;
  left: 30px;
  top: 0;
  width: 200px;
  height: 150px;
}

@media screen and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    background-color: honeydew;
  }

  .field {
    position: relative;
    top: 0;
    left: 0;
  }

  .instruction {
    position: relative;
    left: 0;
  }
  
  .btnL {
    visibility: visible;
  }
  .btnR {
    visibility: visible;
  }
  .btnU {
    visibility: visible;
  }
  .btnD {
    visibility: visible;
  }
}